@page "/admin/members"
@model EF_Identity.Areas.Admin.Pages.User.IndexModel
@{
	ViewData["Title"] = "Danh sach cac thanh vien";
}
<h2>@ViewData["Title"]</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>
<P>Tong so thanh vien: @Model.totalUsers</P>
<table class="table">
	<tr>
		<th>Ten User</th>
		<th>Vai tro(Role)</th>
		<th>Tac vu</th>
	</tr>
	@foreach(var user in Model.users)
	{
		<tr>
			<td>@user.UserName</td>
			<td></td>
			<td>
				<a class="btn btn-success btn-sm" asp-page="./AddRole" asp-route-id="@user.Id">Cap nhat</a>
			</td>
		</tr>
	}
</table>
@{
	var pagingModel = new EF_Identity.Helper.PagingModel()
			{
				currentPage = Model.currentPage,
				countPages = Model.countPages,
				generateUrl = (int? p) => Url.Page("./Index", new { p = p })
			};
}

<partial name="_Paging" model="@pagingModel" />


